body{
  background:#fff2cc;
  font:sans-serif;
  height:100vh;
  overflow:hidden;
}
div{
  background:#fff9e6;
  height:50vh;
  width:50vw;
  text-align:center;
  margin:10%;
}
p{
  font-size:45px;
  color:#664e00;
}
